@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');




.home__title {
    color:#fff;
    font-size:3rem;
    font-weight: 600;
}

.search__box {
    height: 60px;
}

@media screen and (min-width:990px) {
    .home {
        position: relative;
    }
}
