@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.navbar {
    padding: 0 !important;
    margin: 0 !important;
    z-index: 2;
    background-color:#000;
}

.navbar-toggler {
    background-color:#fff !important;
}

.nav-link {
    color: #fff !important;
}

@media screen and (min-width:990px) {
    .navbar-expand-lg{
        position:absolute !important ;
        top: 0;
        background-color:transparent ;
        /* transform:translate(10px,20px); */
        width: 100%;
    }
}
